
@{
    ViewBag.Title = "后台登录日志";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

@model Tuple<PagedList.IPagedList<FYMS.Common.ViewModel.AdminLog>, FYMS.Common.ViewModel.SearchCon>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
<h3 class="page-header">@ViewBag.Title</h3>
@using (Html.BeginForm("AdminLogMain", "Log", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-lg-12 ">
            
            <a class="btn btn-success " data-toggle="collapse" data-target="#serchcondition">
                查询条件
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="serchcondition" class="collapse">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row ">
                            <div class="col-lg-6 ">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">日期区间起</label>
                                    <div class="col-lg-4 ">
                                        @Html.TextBox("StartDate", ViewBag.StartDate as string, new { @type = "date", @class = "form-control" })
                                    </div>
                                    <label class="col-lg-2 control-label">日期区间止</label>
                                    <div class="col-lg-4 ">
                                        @Html.TextBox("EndDate", ViewBag.EndDate as string, new { @type = "date", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">输入搜索内容</label>
                                    <div class="col-lg-6">
                                        @*<input  id="searchstr" type="date" name="SearchString" class="form-control" value="@ViewBag.CurrentFilter " />*@
                                        @Html.TextBox("SearchString", ViewBag.SearchString as string, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <input type="submit" id="btnsearch" class="btn btn-danger " value="搜索" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<br />
<div class="table-responsive">
    <table class="table table-hover text-nowrap">
        <thead>
            <tr class="active">
                <th>
                    序号
                </th>
                <th>
                    @Html.ActionLink("登录时间", "ErrorLogMain", new { Model.Item2, sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    电脑IP
                </th>
                <th>
                    电脑MAC
                </th>
                <th>
                    登录人
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Item1 != null)
            {
                foreach (var item in Model.Item1)
                {

                    <tr>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.number)</b>
                        <td>
                            <b>@Html.DisplayFor(modelItem => item.log_date)</b>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.log_ip)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.log_mac)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.log_name)
                        </td>
                       
                    </tr>

                }
            }
        </tbody>
    </table>
    <br />
    Page @(Model.Item1.PageCount < Model.Item1.PageNumber ? 0 : Model.Item1.PageNumber) of @Model.Item1.PageCount
    @Html.PagedListPager(Model.Item1, page => Url.Action("AdminLogMain", new { page, Model.Item2, ViewBag.CurrentSort }))
</div>
