
@{
    ViewBag.Title = "角色审核权限";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

@model PagedList.IPagedList<FYMS.Common.ViewModel.CheckRole>
@using PagedList.Mvc;

<script type="text/javascript">
    function del(e) {

        var id = $(e).data("id");
        //取表格的选中行数据
        bootbox.confirm({
            title: '',
            message: "确定进行操作？",
            buttons: {
                confirm: { label: "确定" },
                cancel: { label: "取消" }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        type: "POST",
                        url: "/CheckRoleRel/CheckRoleRelDelete",
                        data: { "id": id },
                        async: false,
                        success: function (result) {
                            bootbox.alert("成功");
                            location.href = "CheckRoleRelMain";
                        },
                        error: function (result) {
                            bootbox.alert("失败" + result);
                        }
                    });
                } else {
                    return;
                }
            },
        });
    };
</script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h3 class="page-header">@ViewBag.Title</h3>
@using (Html.BeginForm("CheckRoleRelMain", "CheckRoleRel", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-6">
            @if (ViewData["add"].ToString() == "1")
            {
                <a class="btn btn-primary active" href="/CheckRoleRel/CheckRoleRelCreate">新增角色审核权限</a>
            }
        </div>
        <div class="text-right col-lg-6">
            <span>
                按角色名称搜索：@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" class="btn btn-primary active" value="搜索" />
            </span>
        </div>
    </div>
}
<br />
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="active">
                <th>
                    序号
                </th>
                <th>
                    @Html.ActionLink("角色名称", "CheckRoleRelMain", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>

                <th>
                    操作
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    if (item.ST == 0)
                    {
                        <tr class="info">
                            <td>
                                <b>@Html.DisplayFor(modelItem => item.number)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>

                            <td>
                                @if (ViewData["select"].ToString() == "1")
                                {
                                    @Html.ActionLink("查看", "CheckRoleRelDetails", new { id = item.ID }, new { @class = "glyphicon glyphicon-eye-open label label-primary" })
                                }
                                &nbsp;
                                @if (ViewData["delete"].ToString() == "1")
                                {
                                    <a name="useornot" id="@item.ID" data-id="@item.ID" onclick="del(this)" class="glyphicon  glyphicon-ok label label-success ">启用</a>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayFor(modelItem => item.number)</b>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @if (ViewData["select"].ToString() == "1")
                                {
                                    @Html.ActionLink("查看", "CheckRoleRelDetail", new { id = item.ID }, new { @class = "glyphicon glyphicon-eye-open label label-primary" })
                                }
                                &nbsp;
                                @if (ViewData["update"].ToString() == "1")
                                {
                                    @Html.ActionLink("编辑", "CheckRoleRelEdit", new { id = item.ID }, new { @class = "glyphicon glyphicon-level-up label label-warning " })
                                }
                                &nbsp;
                                @if (ViewData["delete"].ToString() == "1")
                                {
                                    <a name="useornot" id="@item.ID" data-id="@item.ID" onclick="del(this)" class="glyphicon glyphicon-remove label label-danger ">禁用</a>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("CheckRoleRelMain", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>


